//color variables
primary-color = #1B1717
secondary-color = #DCCECE
secondary-hover-color = #554E4E

// font variables
font-family = Roboto, sans-serif
font-family-styled = Lora, sans

h1-font-size = 86px
h1-line-height = 90px
h1-font-weight = normal

h2-font-size = 18px
h2-line-height = 27px
h2-font-weight = normal

h4-font-size = 14px
h4-line-height = 21px
h4-font-weight = normal

// mixins
h1()
  font-family font-family
  font-size h1-font-size
  line-height h1-line-height
  font-weight h1-font-weight

h2()
  font-family font-family
  font-size h2-font-size
  line-height h2-line-height
  font-weight h2-font-weight

h4()
  font-family font-family
  font-size h4-font-size
  line-height h4-line-height
  font-weight h4-font-weight

h(size, height, weight)
  font-family font-family
  font-size size
  line-height height
  font-weight weight

h1
  h1()
  margin: 2px 0

h2
  h2()
  margin: 2px 0

h4
  h4()
  margin: 2px 0

transition(prop)
  transition 0.3s prop ease

container()
  margin-left auto
  margin-right auto
  @media (max-width: 1920px)
    max-width 1216px

  @media (max-width: 1440px)
    max-width 1041px

  @media (max-width: 1057px)
    max-width: 774px

  @media (max-width: 780px)
    max-width: 507px

container-fluid()
  max-width 90.625vw
  margin-left auto
  margin-right auto

// vue animations
.fade-enter-active, .fade-leave-active
  transition opacity .5s ease

.fade-enter-from, .fade-leave-to
  opacity 0